script#mythermostat-template(type='text/template')
  li.sortable.device.no-header.mythermostat
    label.device-label(data-bind="text: name, tooltip: $data.labelTooltipHtml")
    .controls
      .button-control.ui-controlgroup.ui-controlgroup-horizontal.ui-corner-all.ui-mini.no-carousel-slide(data-role='controlgroup', data-type='horizontal', data-mini='true', data-enhanced='true')
        .ui-controlgroup-controls
          a.ui-first-child.ui-btn.ui-corner-all(name='autoButton', data-bind='click: modeAuto') auto
          a.ui-btn.ui-corner-all(name='manuButton', data-bind='click: modeManu') manu    
          a.ui-last-child.ui-btn.ui-corner-all(name='offButton', data-bind='click: modeOff') off
      .spinbox.no-carousel-slide
        input(type='text', data-role='spinbox', name='spin', value='0', min='0', max='100', data-mini='true', step='0.5', data-bind='textInput: inputValue')
      .valve-position
        .valve-position-bar!='&nbsp'
    .day-program(name='program', data-day-number='0')
      .day-title
      .inline.day-name(data-bind="text: $data.dayname()")
      .program-zone-wrapper
        .zones(data-bind="foreach: $data.getCurrentProgram()")
          .zone-day(data-bind="css: blinking, style: {left: sumpercent, height: temppercent, width: percent, backgroundColor: tempcolor}")
        .zones-scale
          .zone-scale(style='width: 8.25%')
            .zone-dayhour 0h
          .zone-scale(style='width: 8.25%')
            .zone-dayhour 2h
          .zone-scale(style='width: 8.25%')
            .zone-dayhour 4h
          .zone-scale(style='width: 8.25%')
            .zone-dayhour 6h
          .zone-scale(style='width: 8.25%')
            .zone-dayhour 8h
          .zone-scale(style='width: 8.25%')
            .zone-dayhour 10h
          .zone-scale(style='width: 8.25%')
            .zone-dayhour 12h
          .zone-scale(style='width: 8.25%')
            .zone-dayhour 14h
          .zone-scale(style='width: 8.25%')
            .zone-dayhour 16h
          .zone-scale(style='width: 8.25%')
            .zone-dayhour 18h  
          .zone-scale(style='width: 8.25%')
            .zone-dayhour 20h
          .zone-scale(style='width: 8.25%')
            .zone-dayhour 22h
          .zone-scale(style='width: 1%')
            .zone-dayhour.last 
